@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

body{
     background-color: rgb(199, 73, 94)
     color: white;
     font-family: "Cormorant Garamond", serif;
}

.cabecalho{
     text-align: center;
     background-color: rgb(255, 218, 224);
}